.footer {
  background-color: $black;
  text-align: center;
  margin: 0;
  padding: 80px 0 82px;

  .logo-holder {
    width: 100%;
    max-width: 168px;
    margin: 0 auto;
    padding-bottom: 8px;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
  }

  .social-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-item {
    padding: 22px 16px 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .social-link {
    color: $white;
    transition: color ease-in-out 0.3s;
  }

  .icon-facebook-f {
    &:hover {
      color: $blue;
    }
  }

  .icon-twitter {
    &:hover {
      color: $blue;
    }
  }

  .icon-linkedin {
    &:hover {
      color: $blue;
    }
  }

  .icon-youtube {
    &:hover {
      color: red;
    }
  }

  .icon-pinterest {
    &:hover {
      color: red;
    }
  }
}