.why {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    text-align: center;

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    .text-holder {
      padding: 0 0 60px;

      @media only screen and (min-width: 1024px) {
        padding: 190px 15px;
        max-width: 55.5%;
      }
    }
  }

  p {
    &.text {
      padding: 19px 0;

      @media only screen and (min-width: 768px) {
        padding: 24px 0;
      }
    }

    &.text-next {
      padding-bottom: 24px;

      @media only screen and (min-width: 1024px) {
        padding-bottom: 32px;
      }
    }
  }

  .img-holder {
    padding: 60px 0 37px;
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: 1024px) {
      padding: 110px 0;
      max-width: 424px;
      flex-grow: 1;
      width: 100%;
      display: block;
    }

    img {
      @media only screen and (max-width: 1023px) {
        max-width: calc(50% - 12px);
      }
      @media only screen and (min-width: 1024px) {
        max-width: 84%;
      }
    }

    .first-img {
      margin: 0 12px 0 0;

      @media only screen and (min-width: 1024px) {
        margin: 0 auto 16px 0;
      }
    }

    .second-img {
      margin-left: 12px;

      @media only screen and (min-width: 1024px) {
        margin: 0 0 0 auto;
      }
    }
  }
}

.search {
  margin: 0 auto;
  background-color: $gray;

  .container {
    padding: 60px 15px 0;

    @media only screen and (min-width: 1024px) {
      padding: 122px 15px 0;
    }
  }

  .icon-holder {
    position: relative;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;

    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &:after {
        position: absolute;
        content: '';
        background-image: url("../../img/Line.svg");
        background-repeat: no-repeat;
        background-size: cover;
        top: -53px;
        left: 49%;
        transform: translateX(-50%);
        width: 78%;
        height: 48px;
      }
    }
  }

  a {
    padding-bottom: 60px;
    display: inline-block;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-transform: capitalize;
    color: $white;
    max-width: 364px;
    width: 100%;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4px;
    font-size: 64px;
    background-color: $gray;
    @include animate(color, 0.3s, linear);

    &.icon-search {
      color: $blue;

      &:hover {
        color: $white;
      }
    }

    &.icon-check-circle {
      color: #FF6363;

      &:hover {
        color: $white;
      }
    }

    &.icon-thumbs-up {
      color: #00A2FF;

      &:hover {
        color: $white;
      }
    }
  }
}
