*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: 28px;
  color: $white;
  margin: 0 auto;
}

h1 {
  font-family: $base-font-family;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: $white;
}

h2 {
  font-family: $nav-font-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: $white;
}

h3 {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: $white;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1170px;
}

p {
  font-family: $base-font-family;
  font-weight: 300;
  font-size: $base-font-size;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: $white;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
  font-family: $nav-font-family;
}

li {
  text-decoration: none;
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 20px 32px;
  width: 100%;
  max-width: 213px;
  background-color: $blue;
  font-size: $nav-font-family;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;

  span {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #486BFE;
    z-index: 1;
    transform: translateX(-60%) skewX(45deg);
    transition: all ease-in-out 0.4s;
  }

  &:hover:before {
    transform: translateX(60%) skewX(45deg);
    right: 0;
    left: unset;
    outline: none;
    border: none;
  }
}

.btn-search {
  display: inline-block;
  position: relative;
  padding: 16px 24px 16px 52px;
  background-color: $blue;
  font-size: $nav-font-family;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  border: none;
  transition: background-color ease-in-out 0.4s;

  &:before {
    content: "\e906";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: $gray;
  }
}

img {
  display: block;
  width: 100%;
}

