$white: #fff;
$black: #000;
$blue: #5373FD;
$gray: #333;
$dark-gray: rgba(35, 35, 35, 0.9);
$base-font-size: 16px;
$base-font-weight: 300;
$base-font-family: 'josefin_sans';
$nav-font-family: 'aleo';
$icon-font-family: 'icomoon';
